/* default theme */
:root {
  --color-text-default: #2d3748;
  --color-text-accent: #1a202c;
  --color-text-soft: #a0aec0;

  --color-bg-default: #fff;
}

.theme-dark {
  --color-text-default: #f7fafc;
  --color-text-accent: #fff;
  --color-text-soft: #637777; /* night owl's comment color*/

  --color-bg-default: #011627;
}

:root {
  --font-code: "Fira Mono", monospace;
}

.code-ligatures {
  --font-code: "Fira Code", monospace;
}

html {
  font-size: 14px;

  @media screen and (min-width: 640px) {
    font-size: 16px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 18px;
  }
}

body {
  overflow-x: hidden;
}

.welcome-text::after {
  content: "|";
  animation: blinking 1s infinite;
}

@keyframes blinking {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.tag {
  @apply font-code text-xs border border-soft rounded py-1 px-2;
}

::selection {
  @apply bg-pink-500;
  @apply text-white;
}
