:root {
  --color-text-default: #2d3748;
  --color-text-accent: #1a202c;
  --color-text-soft: #a0aec0;

  --color-bg-default: #fff;
}

.theme-dark {
  --color-text-default: #f7fafc;
  --color-text-accent: #fff;
  --color-text-soft: #a0aec0;

  --color-bg-default: #011627;
}

html {
  font-size: 14px;

  @media screen and (min-width: 640px) {
    font-size: 16px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 18px;
  }
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

/* ::selection {
  @apply bg-pink-500;
  @apply text-white;
} */

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page > main {
  flex: 1;
}
