.post {
  --max-width: 50rem;
  --padding-x: 2.5rem;
}

.post {
  max-width: var(--max-width);
  padding-left: var(--padding-x);
  padding-right: var(--padding-x);
  @apply mx-auto;
}

.post-title:after {
  content: "";
  display: block;
  height: 0.25rem;
  width: 60px;
  margin: 0 auto;
  background-color: currentColor;
}

.markdown {
  p {
    @apply text-2xl;
    @apply leading-relaxed;
    @apply text-gray-800;
  }

  p + p {
    @apply mt-8;
  }

  code[class*="language-"],
  pre[class*="language-"] {
    @apply font-mono;
  }

  pre[class*="language-"] {
    @apply px-0;
    @apply py-4;
    @apply my-4;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
  }

  code[class*="language-"] {
    max-width: var(--max-width);
    padding: 0 var(--padding-x);
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}
