<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Fira+Code|Josefin+Sans:300,400,600,700|Open+Sans|Spectral:300,400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ '/css/bundle.css' | url }}" />
    <link rel="shortcut icon" href="{{ '/favicon.ico' | url }}" />
    <title>{{ title }}</title>
  </head>
  <body>
    <div class="page bg-default">
      {% include "header.njk" %}
      <main class="pt-24">
        {{ content | safe }}
      </main>
      {% include "footer.njk" %}
    </div>
    <script src="{{ '/js/bundle.min.js' | url }}"></script>
  </body>
</html>
