---
layout: base
---

<article class="post">
  <h2 class="post-title font-sans text-5xl text-center text-accent mb-4">
    {{ title }}
  </h2>
  <div class="font-sans text-center text-soft mb-4">
    <div>Written by {{ author }}</div>
    <div>{{ date | prettyDate('MMMM dd, yyyy') }}</div>
    {% if tags %}
      <div class="text-soft pt-3 leading-loose">
        {% for tag in tags %}
          {% set tagUrl %}/blog/tags/{{ tag }}/{% endset %}
          <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
        {% endfor %}
      </div>
    {% endif %}
  </div>
  <section class="markdown font-serif">
    {{ content | safe }}
  </section>
</article>