---
layout: base
---

<article class="post">
  <h2 class="post-title font-sans text-5xl text-center text-accent my-4">
    {{ title }}
  </h2>
  <div class="font-sans text-center text-soft mb-4">
    <div>Written by {{ author }}</div>
    <div>{{ date | prettyDate('MMMM dd, yyyy') }}</div>
  </div>
  <section class="markdown font-serif">
    {{ content | safe }}
  </section>
</article>
