---
layout: base
title: Posts
pagination:
  data: collections.posts
  size: 4
  reverse: true
  alias: posts
---

<div class="blog">
  <h1 class="text-default text-center text-6xl font-serif font-light">
    {{ title }}
  </h1>
  <div>
    {%- set postlist = posts -%}
    {% include "postlist.njk" %}
  </div>
  <div class="my-8 text-default text-center">
    {% if pagination.previousPageHref %}
      <a href="{{ pagination.previousPageHref | url }}" title="View newer posts">
        <i class="far fa-arrow-alt-circle-left fa-2x"></i>
      </a>
    {% else %}
      <span class="text-soft">
        <i class="far fa-arrow-alt-circle-left fa-2x"></i>
      </span>
    {% endif %}
    {% if pagination.nextPageHref %}
      <a class="ml-4" href="{{ pagination.nextPageHref | url }}" title="View older posts">
        <i class="far fa-arrow-alt-circle-right fa-2x"></i>
      </a>
    {% else %}
      <span class="ml-4 text-soft" class="text-soft">
        <i class="far fa-arrow-alt-circle-right fa-2x"></i>
      </span>
    {% endif %}
  </div>
</div>