---
layout: base
---

<div class="blog text-center">
    <h1 class="text-default text-4xl">
        <i class="fas fa-tags"></i>
    </h1>
    <ul class="font-serif text-default pt-8 text-3xl">
        {% for tag in collections.tags %}
            {% set tagUrl %}/blog/tags/{{ tag }}/{% endset %}
            <li>
                <a href="{{ tagUrl | url }}">{{ tag }}</a>
            </li>
        {% endfor %}
    </ul>
</div>